@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;

}
.thing{
    margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
	background: linear-gradient(#0f4675,#0f4675 50%,#fff 50%,#fff 100%);
}
.container{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container .box{
	width: 320px;
	position: relative;
	background: #c3c3c3;
	padding: 100px 40px 60px;
	box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.container .box:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;background: #ff226d;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}
.container .box:hover:before{
	transform: scaleY(1);
	transform-origin: bottom;
}
.container .box h2{
	position: absolute;
     left: 40px;
     top: 60px;
     font-size: 4em;
     font-weight: 800;
     z-index: 1;
     opacity: 0.1;transition: 0.5s;

}
.container .box:hover h2{
	opacity: 1;
	color: #fff;
	transform: translateY(-40px);
}
.container .box h3{
	position: relative;
	font-size: 1.5em;
	z-index: 2;
	color: #333;transition: 0.5s;
}
.container .box p{
	position: relative;
	font-size: 1.5em;
	z-index: 2;
	color: #555;
	transition: 0.5s;
}
.container .box:hover h3,.container .box:hover p{
	color: #fff;

}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 760px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.pop{
	text-align: center;
}